environment: {{ .Environment.Name }}

origin: security

{{ if ne .Environment.Name "ci" }}
cloudflareApiToken: {{ "ref+vault://op/vaults/k8s-security-secrets/items/base-services-cf-token?proto=http#password" | fetchSecretValue }}
{{ end }}

alertRules:
  namespace: monitoring