rbac:
  create: true

provider: cloudflare

cloudflare:
{{ if ne .Environment.Name "ci" }}
  apiKey: {{ "ref+vault://op/vaults/k8s-security-secrets/items/base-services-cf-token?proto=http#password" | fetchSecretValue }}
  email: {{ "ref+vault://op/vaults/k8s-security-secrets/items/base-services-cf-email?proto=http#password" | fetchSecretValue }}
  proxied: false
{{ end }}
logLevel: info
txtOwnerId: "security"

policy: sync

domainFilters:
  - w3f.dev